<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>000</title>
    <script src="../static/jquery-3.5.1.js"></script>
    <style>
        li{
            display: inline-block;
            width: 200px;
            height: 10px;
        }
        .name1{
            background-color: red;
        }
        .name2{
            background-color: royalblue;
        }

    </style>
</head>
<body>

<ul>
    <li class="name2" id="zaaaaa">111111111111111</li>
</ul>
</body>
<script>
    $(".name2").click(function () {
        $("#zaaaaa").removeClass("name2");
        $("#zaaaaa").addClass("name1");

    })

</script>
</html>